@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 872px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1090px;
    }
}
@media (min-width: 1290px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 1319px;
    }
}

@media screen and (max-width: 1200px) {
    .item__projects .project__grid .card__project {
        height: auto;
    }
    .item__projects .project__grid .card__project .item__img {
        height: auto;
    }
    .item__document,
    .item__cooperation,
    .item__about,
    .item__teams,
    .item__contact {
        margin-top: 50px;
        margin-bottom: 38px;
    }
    .mero__slider .item__img {
        background-position: right;
    }
    .grid__item {
        grid-template-columns: 1fr;
        .side__bar__comp {
            .side__bar__mobile {
                display: block;
                .show__nav__mobile {
                    background: #f7fafc;
                }
                .nav__mobile {
                    position: absolute;
                    width: 240px;
                    height: 57px;
                    top: -29px;
                    .hamburger__menu {
                        width: 48px;
                        margin-left: 21px;
                    }
                }
            }
            .side__bar__item__href {
                height: 0;
                overflow: hidden;
                position: absolute;
                top: 28px;
                transition: 0.5s;
                background: #f7fafc;
            }
            .show__sidebar {
                transition: 0.5s;
                height: auto;
            }
        }
    }
    nav {
        .nav__item {
            .nav__info {
                display: flex;
                height: auto;
                padding-bottom: 36px;
                padding-top: 36px;
                column-gap: 15px;
                row-gap: 15px;
                flex-wrap: wrap;
                .logo__item {
                    width: 30%;
                }
                .title__item {
                    width: 65%;
                }
                .search__item {
                    width: 100%;
                }
            }
        }
        .nav__links {
            .item__nav__mobile {
                display: flex;
            }
            .nav__href {
                display: none;
            }
        }
    }
    .news {
        .card__grid {
            grid-template-columns: 1fr;
        }
    }
    footer {
        .footer__grid {
            flex-wrap: wrap;
            padding-bottom: 40px;
            .logo__footer {
                width: 50%;
            }
            .href {
                width: 50%;
            }
            .social {
                width: 50%;
            }
        }
    }
    .experts .item__experts .experts__grid {
        grid-template-columns: 1fr 1fr;
    }
    .experts .item__books .books__grid {
        grid-template-columns: 1fr;
    }
    .item__contact {
        z-index: -1;
    }
}
@media screen and (max-width: 992px) {
    .item__projects__solo {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .item__projects__solo .img {
        width: 100%;
    }
    .partners{
        .partners__item{
            .partners__grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .item {
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                    &:hover {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
    .err__404 {
        h1 {
            font-size: 5em;
        }
        h2{
            margin-top: 30px;
           font-size: 1.5em; 
           text-align: center;
           margin-bottom: 30px;
        }
    }
    .experts .item__experts .experts__grid {
        grid-template-columns: 1fr;
        margin-bottom: 38px;
    }
    .experts .item__books .books__grid .item {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .experts .item__experts .experts__grid .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 20px;
    }
    .grid__item .item__about .item__important {
        grid-template-columns: 1fr;
    }
    .grid__item .item__about .item__title .item {
        padding: 20px;
        max-width: 100%;
    }
    .item__projects .item__link {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .item__projects .project__grid .card__project {
        height: auto;
        flex-direction: column;
    }
    .meros .item__link {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .meros .meros__grid {
        grid-template-columns: 1fr;
    }
    .news__solo__item {
        margin-bottom: 38px !important;
    }
    .experts .item__link {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .item__projects .project__grid .card__project .item__img {
        width: 100%;
        height: 200px;
        min-width: fit-content;
        max-width: 100%;
        margin-right: 0;
        border-radius: 16px;
    }
    .grid__item .side__bar__comp .side__bar__mobile .nav__mobile {
        top: -20px;
    }
    .grid__item .side__bar__comp .side__bar__item__href {
        top: 37px;
    }
    .grid__item .item__about .item__work .grid .item {
        width: 100%;
        text-align: center;
    }
    .grid__item .item__about .item__title .item h1 {
        font-size: 18px;
    }
    .grid__item .item__document .item__link {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .name{
        text-align: center;
    }
    .grid__item .item__about .item__title .item h3 {
        font-size: 16px;
    }
    .grid__item .item__about .item__work h4 {
        font-size: 18px;
    }
    .grid__item .item__about .item__work .grid {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .grid__item .item__document .item {
        margin-top: 38px;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .grid__item .item__teams {
        grid-template-columns: 1fr;
    }
    .grid__item .item__cooperation h1 {
        font-size: 18px;
    }
    .grid__item .item__teams .item {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .grid__item .item__cooperation h2 {
        font-size: 18px;
    }
    nav {
        .nav__item {
            .nav__info {
                .logo__item {
                    text-align: center;
                    width: 100%;
                }
                .title__item {
                    width: 100%;
                    text-align: center;
                }
                .search__item {
                    width: 100%;
                }
            }
        }
    }
    .meros {
        .item__meros {
            .slick-slide {
                width: 245px !important;
                margin: 0 7.5px;
            }
        }
        a {
            .card {
                width: 100%;
                height: 450px;
                padding: 40px 15px;
            }
        }
    }
    .box__modal {
        width: 90%;
        .modal__grid {
            padding: 20px 20px;
            .item__title {
                text-align: center;
                flex-direction: column;
            }
        }
    }
    .item__contact .info {
        position: relative;
        text-align: left;
        padding: 30px 0;
        height: auto;
        z-index: -1;
    }
}
@media screen and (max-width: 870px) {
    .container {
        margin: 0 auto;
        padding: 0 30px;
    }
}
@media screen and (max-width: 850px) {
    .news {
        .card {
            flex-direction: column;
            .img {
                width: 100%;
                min-width: auto;
                max-width: none;
                height: 250px;
            }
        }
    }
    .experts .item__experts h1 {
        font-size: 24px;
    }
    .experts .item__books h1 {
        font-size: 24px;
    }
    .item__contact .info h1 {
        font-size: 16px;
    }
    .item__contact .info a {
        font-size: 16px;
    }
    .item__contact .info a {
        font-size: 16px;
    }
    .box__modal {
        .modal__grid {
            position: relative;
            padding: 20px 20px;
            height: 100%;
            overflow-y: scroll;
            max-height: 500px;
            .item__title {
                p {
                    font-size: 18px;
                    margin-top: 20px;
                }
            }
            .item__body {
                p {
                    font-size: 14px;
                }
                p:first-child {
                    font-size: 14px;
                }
                li {
                    font-size: 14px;
                }
            }
        }
    }
    .meros {
        .item__meros {
            h3 {
                font-size: 24px;
                padding: 25px 0 25px 0;
            }
        }
    }
    .compitetions {
        .item__compitetions {
            h2 {
                font-size: 24px;
                margin-bottom: 25px;
            }
            .slick-arrow {
                display: none;
            }
            .slick-list {
                margin: 0;
            }
            .slick-slide {
                width: 200px !important;
                margin: 0 10px;
            }
            a {
                .card {
                    width: 200px;
                    p {
                        font-size: 12px;
                        word-break: break-word;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    .meros {
        .item__meros {
            .slick-arrow {
                display: none;
            }
            .slick-list {
                margin: 0;
            }
            .mrg {
                margin: 0;
            }
        }
        a {
            .card {
                width: 100%;
                height: 360px;
                padding: 30px 15px;
            }
        }
    }
    .mero__slider {
        .item__img {
            padding-left: 0;
            .item__date {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                color: #014483;
                padding: 30px 20px 20px 30px;
            }
            .item__title {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                padding: 30px 20px 20px 30px;
            }
            button {
                margin-left: 20px;
            }
        }
    }
    footer {
        .footer__grid {
            flex-direction: column;
            .logo__footer {
                width: 100%;
            }
            .href {
                width: 100%;
            }
            .social {
                width: 100%;
            }
        }
    }
}
